[submodule "nvim"]
	path = nvim
	url = git@github.com:vncsmyrnk/nvim-config.git
[submodule "zsh"]
	path = zsh
	url = git@github.com:vncsmyrnk/zsh-config.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:vncsmyrnk/tmux-config.git
[submodule "kitty"]
	path = kitty
	url = git@github.com:vncsmyrnk/kitty-config.git
[submodule "gnome"]
	path = gnome
	url = git@github.com:vncsmyrnk/gnome-config.git
[submodule "git"]
	path = git
	url = git@github.com:vncsmyrnk/git-config.git
[submodule "shell-utils"]
	path = shell-utils
	url = git@github.com:vncsmyrnk/shell-utils.git
[submodule "keyd"]
	path = keyd
	url = git@github.com:vncsmyrnk/keyd-config.git
[submodule "nix"]
	path = nix
	url = git@github.com:vncsmyrnk/nix-config.git
