[submodule "nvim-config"]
	path = nvim-config
	url = git@github.com:vncsmyrnk/nvim-config.git
[submodule "zsh-config"]
	path = zsh-config
	url = git@github.com:vncsmyrnk/zsh-config.git
[submodule "tmux-config"]
	path = tmux-config
	url = git@github.com:vncsmyrnk/tmux-config.git
[submodule "kitty-config"]
	path = kitty-config
	url = git@github.com:vncsmyrnk/kitty-config.git
[submodule "gnome-config"]
	path = gnome-config
	url = git@github.com:vncsmyrnk/gnome-config.git
